body {
	padding-top: 60px;
}
img.resize {
	max-width:100%;
	max-height:100%;
}
div.grid {
	width:400px;
}
.greeter-caption {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    font-size: 60px;
}
