{% set active = 'accueil' %}
{# templates/accueil.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
	<div class="accueil-greeter">
	<h1 class="accueil-welcome">Bienvenue chez MegaVoyage !</h1>
	</div>
	<div class="row text-center">
		<section class="col-lg-6">
			<h2>Actualités</h2>
			{% if list is not empty %}
			<p>Programmations dans les dix prochains jours. Saisissez vite ces opportunités!
			{% for elm in list %}
				<ul>
					<li><a href="/circuit/{{ elm[0] }}">{{ elm[1].description }}</a>, le {{ elm[2] }}</li>
				</ul>
			{% endfor %}
			</p>
			{% else %}
				<p>Désolé, pas de programmations prévues dans les prochains jours!</p>
			{% endif %}
		</section>
		<section class="col-lg-6">
			<h2>Qui sommes-nous?</h2>
			<p>Chez MegaVoyage, nous avons à coeur la satisfaction client.</p>
		</section>
		<section class="col-lg-6">
			<div id="MyCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img class="d-block img-fluid" src="/images/paris.jpg">
					</div>
					<div class="item">
						<img class="d-block img-fluid" src="/images/vietnam.jpg">
					</div>
				</div>
			</div>
			
		</section>
	</div>
{% endblock %}
