{% set active = 'circuit' %}
	
	{% extends "baselayout.html.twig" %}

	{% block title %}{{ parent() }} - Liste des circuits{% endblock %}

		{% block body %}
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Liste des circuits</h1>
				</div>
				<div class="col-lg-6">
					<div class="panel panel-primary">
						{% if circuitslist is not empty %}
							<div class="panel-heading">
								Voici tous les circuits disponibles chez MegaVoyage :
							</div>
							<div class="list-group">
								{% for circuit in circuitslist %}
									<a class="list-group-item" href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
								{% endfor %}
							</div>
						{% else %}
							<div class="panel-body">
								<p>Désolé il n'y actuellement aucun circuit de disponble !</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}