{% set active = 'connexion' %}
{# templates/connexion.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block body %}
	<div class="wrapper">

	TODO!

	</div>
{% endblock %} {# body #}
